# fish
.config/fish/fish_variables
.config/fisher

# vim
.vim/bundle
.vim/plugged
.vim/autoload/plug.vim

# ipython
.ipython/profile_default/db
.ipython/profile_default/log
.ipython/profile_default/pid
.ipython/profile_default/security
.ipython/profile_default/history.sqlite

# vim-lsp-settings
.config/configstore/update-notifier-npm.json

!.gitkeep
