Brewfile.lock.json
package-lock.json

.config/

# alacritty
!.config/alacritty/alacritty.yml

# fish
!.config/fish/
!.config/fish/fish_variables

# git
!.config/git/config
!.config/git/ignore


# vim
.vim/bundle
.vim/plugged
.vim/autoload/plug.vim

# ipython
.ipython/profile_default/db
.ipython/profile_default/log
.ipython/profile_default/pid
.ipython/profile_default/security
.ipython/profile_default/history.sqlite

!.config/pycodestyle

!.gitkeep
